build/
dist/

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Mac OS
.DS_Store

# Editor files
*.sublime-project
*.sublime-workspace
*.vscode

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Misc
.idea/
*.swp
*.swo